.button, .text-field {
    -fx-color: white;
}

#btnOpenParenthesis, #btnCloseParenthesis, #btnComma, #btnExtension {
    -fx-color: #bdc3c7; /* Gris clair */
}

#btnClear {
    -fx-color: #FF6347; /* Rouge tomate */
}

#btnDivide, #btnMultiply, #btnMinus, #btnPlus, #btnFraction {
    -fx-color: #FFA500;
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btnEquals {
    -fx-color: #ecf0f1; /* Gris très clair */
}
