.root {
    -surface-0: #17181A;
    -surface-1: #212121;
    -surface-operator: #005DB2;
    -surface-option: #404040;
    -accent-color: #1aa3ff;
    -foreground-primary: #FFFFFF;
    -foreground-secondary: #818181;
}
